<p id="notice"><%= notice %></p>
<div class="container">
<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>الوصف</th>
      <th>المستخدم</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= comment.user %></td>
        <td><%= link_to 'عرض', comment %></td>
        <td><%= link_to 'تعديل', edit_comment_path(comment) %></td>
        <td><%= link_to 'حذف', comment, method: :delete, data: { confirm: 'هل انت متأكد؟' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'إضافة تعليق', new_comment_path %>
</div>