<p id="notice"><%= notice %></p>
<div class="container">
<ul class="list-group">
    <li class="list-group-item"> <strong>النوع :</strong>
  <%= @animal.category %> </li>
    <li class="list-group-item"> <strong>الوصف :</strong>
  <%= @animal.description %> </li>
    <li class="list-group-item"><strong>الموقع :</strong>
  <%= @animal.location %> </li>
    <li class="list-group-item"> <strong>تبنى :</strong>
  <%= @animal.adapted %> </li>
    <li class="list-group-item"> <strong>صوره :</strong>
  <%= image_tag @animal.image.url.to_s %> </li>
  </ul>

<div class="container">
<%= link_to 'تعديل', edit_animal_path(@animal) %> 
</div>
<h2 class="coment">التعليقات .. </h2>

<% @animal.comments.each do |comment| %>
  <% if comment.body != "" %>
    <ul class="list-group">
    <li class="list-group-item"> <%= comment.body %> </li>
    <li class="list-group-item"> <%= comment.user.email %> </li>
   </ul>
  <% end %>
<% end %>

<%= render 'comments/form', comment: @comment, url: animal_comments_path(@animal) , animal_id: @animal.id %>

<p class="text-center">
              <% if @animal.image.url != nil %>
                <%= image_tag @animal.image.url, style: "width: 12rem; margin:auto; height: 250px;"%>
              <%else%>
              <%= image_tag 'https://fscomps.fotosearch.com/compc/CSP/CSP439/cat-silhouette-clipart__k22365905.jpg' %>
              <%end%>
          </p>

<div>
<%= link_to 'تعديل', edit_animal_path(@animal) %> |
<%= link_to 'خلف', root_path %>
</div>
</div>