<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @animal.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @animal.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @animal.location %>
</p>

<p>
  <strong>Adapted:</strong>
  <%= @animal.adapted %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
