<p id="notice"><%= notice %></p>


<p>
  <strong>النوع :</strong>
  <%= @animal.category %>
</p>

<p>
  <strong>الوصف :</strong>
  <%= @animal.description %>
</p>

<p>
  <strong>الموقع :</strong>
  <%= @animal.location %>
</p>

<p>
  <strong>تبنى :</strong>
  <%= @animal.adapted %>
</p>
<p>
  <strong>صوره :</strong>
  <%= image_tag @animal.image.url.to_s %>
</p>

<%= link_to 'تعديل', edit_animal_path(@animal) %> 


<h2>التعليقات .. </h2>

<% @animal.comments.each do |comment| %>
  <% if comment.body != "" %>
    <p> <%= comment.body %> </p>
    <p> <%= comment.user.email %> </p>
  <% end %>
<% end %>

<%= render 'comments/form', comment: @comment, url: animal_comments_path(@animal) , animal_id: @animal.id %>


<%= link_to 'تعديل', edit_animal_path(@animal) %> |
<%= link_to 'خلف', root_path %>

