<!DOCTYPE html>
<html dir="rtl">
  <head>
    <title>Pets Adaption</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  <div class="jumbotron text-center">
  
  
<nav class="nav" class="registration">
  <% if user_signed_in? %>
  <%= link_to "تسجيل الخروج"  , destroy_user_session_path,class:"nav-link " , method: :delete %>
  <%= current_user.email %>
<% else %>
  <%= link_to "تسجيل الدخول "  ,new_user_session_path,class:"nav-link"  %>
  <%= link_to " إنشاء حساب" , new_user_registration_path,class:"nav-link" %>
  <% end%>
</nav>

   <h1>تبناني</h1> 
   </div>
  
   <div class="container">

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    </div>
  </body>
</html>
